<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.learning.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.example.learning.entity.UserInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="pwd" column="pwd" jdbcType="VARCHAR"/>
            <result property="OCR_key" column="OCR_key" jdbcType="VARCHAR"/>
            <result property="OCR_secret" column="OCR_secret" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,pwd,
        OCR_key,OCR_secret
    </sql>
</mapper>
